<div id="home">
  <div class="contenido col-12">
    <header class="d-flex justify-content-between">
      <div class="logo">
          <img src= "assets/img/cancionero/logo.png" class="img" />
      </div>
    </header>

    <div class="col-12">
      <h1 class="titulo_navegacion">Bienvenidos</h1>      
      <nav class="navbar">        
        <div class="botones_inicio">
          <button class="btn btn-primary btn-lg" (click)="game(1)">El Bailodromo</button>
        </div>
        <div class="botones_inicio">
          <button class="btn btn-primary btn-lg" (click)="game(2)">El Cancionero</button>
        </div>
        <div class="botones_inicio">
          <button class="btn btn-primary btn-lg" (click)="game(3)">La Receta</button>
        </div>
      </nav>
    </div>
  </div>
</div>
